<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditMaterie</title>
</head>
<body>

    <H2>MODIFICA MATERIA</H2>

    <form action="/materie/new" method="post" th:object="${materie}">
        <input type="hidden"  name ="id" th:value="${materie.id}">

        Nome Materie : <input type="text" name = "name" th:value="${materie.name}" >
        <br><br>
        CFU : <input type="text" name = "cfu" th:value="${materie.cfu}"  >
        <input type="submit" value="INVIA">
        <br><br>
    </form>

    <a href="/students"> LISTA DEGLI STUDENTI</a>
    <br><br>
    <a href="/materie"> LISTA DELLE MATERIE</a>
</body>
</html>