<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditCLassi</title>
</head>
<body>

    <h1><center>EDIT CLASSI</center></h1>
    
<H2>MODIFICA UNA  CLASSE</H2>
<form action="/classi/new" method="post" th:object="${classi}>
    <input type="hidden" name="id" th:value="${classi.id}">

    <span>Anno classe : </span>
<input type="number" name="anno" th:value="${classi.anno}">
<br><br><br>
<span>Sezione classe : </span>
<input type="text" name="sezione" th:value="${classi.sezione}">
<br><br><br>
<input type="submit" value="UPDATE">
</body>
</html>